@font-face {
    font-family: 'JMH Legajo';
    src: url('font_Legajo/JMHLegajo-BoldItalic.eot');
    src: url('font_Legajo/JMHLegajo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('font_Legajo/JMHLegajo-BoldItalic.woff2') format('woff2'),
        url('font_Legajo/JMHLegajo-BoldItalic.woff') format('woff'),
        url('font_Legajo/JMHLegajo-BoldItalic.ttf') format('truetype'),
        url('font_Legajo/JMHLegajo-BoldItalic.svg#JMHLegajo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JMH Legajo';
    src: url('font_Legajo/JMHLegajo-Bold.eot');
    src: url('font_Legajo/JMHLegajo-Bold.eot?#iefix') format('embedded-opentype'),
        url('font_Legajo/JMHLegajo-Bold.woff2') format('woff2'),
        url('font_Legajo/JMHLegajo-Bold.woff') format('woff'),
        url('font_Legajo/JMHLegajo-Bold.ttf') format('truetype'),
        url('font_Legajo/JMHLegajo-Bold.svg#JMHLegajo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monog';
    src: url('font_Monog/Monog-Regular.eot');
    src: url('font_Monog/Monog-Regular.eot?#iefix') format('embedded-opentype'),
        url('font_Monog/Monog-Regular.woff2') format('woff2'),
        url('font_Monog/Monog-Regular.woff') format('woff'),
        url('font_Monog/Monog-Regular.ttf') format('truetype'),
        url('font_Monog/Monog-Regular.svg#Monog-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Grit Primer';
    src: url('font_grit/GritPrimer.eot');
    src: url('font_grit/GritPrimer.eot?#iefix') format('embedded-opentype'),
        url('font_grit/GritPrimer.woff2') format('woff2'),
        url('font_grit/GritPrimer.woff') format('woff'),
        url('font_grit/GritPrimer.ttf') format('truetype'),
        url('font_grit/GritPrimer.svg#GritPrimer') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'KisMiklos';
	src: url("font_KisMiklos/KisMiklos.woff2") format("woff2"),
	url("font_KisMiklos/KisMiklos.woff") format("woff");
	font-weight: normal;
    font-style: normal; }

.articlestyle ::selection {
background: #940F04;
color: white;
}

.articlestyle article a span:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" style="font-size: 20px;"><text y="15">✸</text></svg>'), auto;
    color: #940F04;
    text-decoration: underline;
}

.articlestyle article a span {
    color: #2b2821;
    font-weight: bolder;
}

#articlebody {
  padding: 1em;
  padding-bottom: 10vw;
  background-image: url(images/paginavuotasncancellata.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
.articlestyle p{
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style: italic;
    background-color: #FBF9C9;
    font-size: 2vw;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #666154;
    display: block;
}


@media (max-width: 480px){
    .articlestyle p{
        font-size: 14px;
    }}

#articlebody div{
    text-align: justify;
    width: 65%;
    margin-left: 21%;
    margin-right: 14%;
}

@media (max-width: 480px){
    #articlebody > div {
        font-size: 14px;
        width: 75%;
        margin-left: 16%;
        margin-right: 9%;
    }
}

.articlestyle em{
   font-style: normal;
}

.articlestyle *{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" style="font-size: 20px;"><text y="15">✵</text></svg>'), auto;
}

.articlestyle  article {
font-family: 'JMH Legajo';
color:#666154;
text-align: justify;
word-break: break-word;
overflow-x: hidden;
font-weight: bold;
font-style: italic;
}

.articlestyle .capital:first-letter {
    font-size: 21vw;
    float: left;
    font-family: 'Monog';
    font-weight: normal;
    font-style: normal;
    margin-top:2px;
    margin-right: 4px;
    margin-bottom: -1px;
    background-clip:content-box;
    background-image: url(images/monogrammabg.png);
    padding-bottom:0px;
    background-size: contain;
}

.articlestyle figure figcaption {
  width: 14vw;
  word-break:break-all;
  hyphens: auto;
  line-height: 86%;
  padding-left: 1em;
  position: absolute;
  transform: translateY(-100%) translateX(-115%);
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  color: #666154;
  background-color: transparent;
}

.articlestyle figure figcaption p{
    font-family: "JMH Legajo";
    margin:0px;
    padding: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 2vw;
    color: #666154;
    background-color: transparent;
    font-size: 14px;
    transform: translateY(0%) translateX(0%);
    line-height: 100%;
}

@media (max-width: 480px){
    .articlestyle figure figcaption{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-left: 0px;
        padding-top: 3px;
        padding-bottom: 10px;
        line-height: 100%;
        word-break:break-word;
    }}

.articlestyle figure{
    margin:0px;
    max-width: 100%;
}

.articlestyle img{
    align-content: center;
    display: block;
    align-self: center;
    width: 100%;
    max-height:inherit;
    padding-top:3px;
    padding-bottom:3px;
    filter: grayscale(85%) sepia(50%);
    -webkit-filter: grayscale(85%) sepia(50%);
    -moz-filter: grayscale(85%) sepia(50%);
}

.articlestyle blockquote{
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style:normal;
    background-color: #FBF9C8;
    font-size: 2vw;
    }
.articlestyle blockquote p{
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style:normal;
    background-color: #FBF9C9;
    font-size: 2vw;
}

@media (max-width: 480px){
    .articlestyle blockquote p{
        font-size: 14px;
    }}

@media (max-width: 480px){
    .articlestyle blockquote {
        font-size: 14px;
    }
}

.articlestyle aside p{
    font-size: 2vw;
    padding: 0em;
    margin-top: 0em;
    color: #940F04;
    display: block;
    margin:4vw;
}

@media (max-width: 480px){
    .articlestyle aside p{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-left: 0px;
        padding-top: 3px;
        padding-bottom: 10px;
        line-height: 100%;
        word-break:break-word;
    }
}

.articlestyle section p:not(:first-child){
    text-indent: 4%;
}

.articlestyle section p:first-of-type{
    text-indent: 0%;
}

.articlestyle #Footnotes p:first-of-type{
    text-indent: 4%;
}

.articlestyle #Notes p:first-of-type{
    text-indent: 4%;
}
    
.articlestyle #References p:first-of-type{
    text-indent: 4%;
}

::-webkit-scrollbar {
 width: 3px;
 height: 5px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(13deg, #524d42 14%,#940F04 64%);
 border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, #524d42 14%,#940F04 64%);
}
::-webkit-scrollbar-track{
 background: #e6dac0;
 border-radius: 0px;
 box-shadow: inset 7px -30px 12px #E6DAC0;
}

.articlestyle table{
    width: 100%;
    border: 2px solid #937970;
    font-size: 70% !important;
    color: #524D42;
    display: inline-table;
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style: normal;
}

#articlebody div header h1{
    font-family: 'KisMiklos';
    text-align: center;
    font-size: 4vw; 
    text-transform: uppercase;
    color: #8e1616;
    margin-top: 2em;
    border-top: 2em solid transparent;
    display: block;
    border-image: url(images/saggiatorecornice-removebg-preview.png) 174 round stretch;
    letter-spacing: 7px; 
    word-wrap:normal;
    white-space:pre-wrap;
    padding-top: 10px;

}

.articlestyle table{
    margin-top: 3em; /*!!*/
    margin-bottom: 3em;
    width: 100%;
    border-collapse: collapse;
    align-content: flex-start;
    font-family: "JMH Legajo";
}

.articlestyle table td,.articlestyle table th, {
    width: 100%;
    align-content:space-around;
    font-family: "JMH Legajo";
}

@media (max-width: 480px){
    .articlestyle table, .articlestyle td,.articlestyle th{
        font-size: 80%;
        overflow-y: scroll;
        
    }
}

.articlestyle table th{
    color: #940F04;
    font-family: "Grit Primer";
    line-height: .8;
    text-transform: uppercase;
    font-size: 3vw;
    padding: 7px;
    white-space: pre-wrap;
    text-align: left;
    max-width: 25vw;
}

.articlestyle td{
    font-size: 2vw;
    line-height: .8;
    border: 1px solid #524D42;
    padding: 5px;
    text-align: center;

}

.articlestyle table caption {
  width: 14vw;
  padding right: 1vw;
  white-space:pre-wrap;
  word-break: break-all;
  overflow-y: scroll;
  max-height: 300px;
  hyphens: auto;
  line-height: 100%;
  position: absolute;
  transform: translateY(0%) translateX(-115%);
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  font-size: 2vw;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 0em;
  color: #666154;
  background-color: transparent;
  padding-bottom: 1em;
    text-align: justify;
}


.articlestyle table caption p{
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  padding-right: 0em;
  margin-left: 0em;
  margin-right: 0em;
  color: #666154;
  background-color: transparent;
}



@media (max-width: 480px){
    .articlestyle table caption {
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0px;
        line-height: 100%;
        word-break:break-word;
    }
    .articlestyle table caption p{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
         padding-left: 0px ;
        line-height: 100%;
         word-break:break-word;
    }
}



.articlestyle a:hover{
     cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" style="font-size: 20px;"><text y="15">✸</text></svg>'), auto;
}



.articlestyle a{
    font-weight: 1000!important;
}

.articlestyle header{
    margin-bottom: 7vw;
    
}

.articlestyle header .subtitle{
    text-align:center;
    font-family: "KisMiklos";
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
    text-transform: uppercase;
    font-size:3vw;
    letter-spacing: 3px;
    margin: 2vh;
    padding: 0em;
    border-bottom: none;
}



#articlebody header .byline{
    text-align:center;
    font-family: "KisMiklos", "Grit Primer";
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 1vh;
    margin: 1vh;
    border-bottom: none;
    color: #940F04;
}
#articlebody header h2 a span:hover{
    text-decoration: underline;
    
}

#articlebody header .byline a span:hover{
    text-decoration: underline;
}

#articlebody header h1 a span{
    font-weight: normal;
}

#articlebody .byline{
    text-align:center;
    font-family: "KisMiklos";
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
    font-size: 3vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: none;
}

@media (max-width: 480px){
    #articlebody header .byline{
        font-size: 17px !important;
        letter-spacing: 2px;
    }
    #articlebody header h1{
        font-size: 20px !important;
        width: 100%;
        letter-spacing: 3px;
    }
    #articlebody header h2{
        font-size: 17px !important;
        letter-spacing: 2px;
    }
    #articlebody header .subtitle{
        font-size: 17px !important;
        letter-spacing: 2px;
    }}

.articlestyle section{
    margin-bottom: 20vh;
}

.articlestyle section section{
    margin-bottom: 7vh !important;
}


#articlebody div header h2{
    text-align:center;
    font-family: "KisMiklos";
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
    text-transform: uppercase;
    font-size:3vw;
    letter-spacing: 3px;
    margin: 2vh;
    padding: 0em;
    border-bottom: none;

}

.articlestyle h2{
    font-family: "KisMiklos";
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -4px;
    margin-top: 2em;
    letter-spacing: 5px;

}

.articlestyle h3{
    font-family: "KisMiklos";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    color: #524D42;
    margin-bottom: -3px;
    margin-top: 2em !important;
    letter-spacing: 2px;
        font-family: "Grit Primer";
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -2px;

}

.articlestyle h4{
    font-family: "KisMiklos";
    text-align: center;
    font-style: normal;
    font-size: 2vw;
    font-weight: 500;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -3px;
    margin-top: 2em;
    letter-spacing: 2px;
    line-height: .7;

}


@media (max-width: 480px){
    .articlestyle h2{
        font-size: 18px;
        letter-spacing: 2px;
    }}

@media (max-width: 480px){
    .articlestyle h3{
        font-size: 17px;
        letter-spacing: 2px;
    }
}

.articlestyle h4{
    font-family: "Grit Primer";
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -1px ;
}

@media (max-width: 480px){
    .articlestyle h4{
        font-size: 16px;
        letter-spacing: 2px;
    }
}


 
