
@font-face {
    font-family: 'JMH Legajo';
    src: url('JMHLegajo-BoldItalic.eot');
    src: url('JMHLegajo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('JMHLegajo-BoldItalic.woff2') format('woff2'),
        url('JMHLegajo-BoldItalic.woff') format('woff'),
        url('JMHLegajo-BoldItalic.ttf') format('truetype'),
        url('JMHLegajo-BoldItalic.svg#JMHLegajo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JMH Legajo';
    src: url('JMHLegajo-Bold.eot');
    src: url('JMHLegajo-Bold.eot?#iefix') format('embedded-opentype'),
        url('JMHLegajo-Bold.woff2') format('woff2'),
        url('JMHLegajo-Bold.woff') format('woff'),
        url('JMHLegajo-Bold.ttf') format('truetype'),
        url('JMHLegajo-Bold.svg#JMHLegajo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*'ITC Galliard Std', The Missus Hand, Garamond usata come base per le miniature*/

@font-face {
    font-family: 'Monog';
    src: url('Monog-Regular.eot');
    src: url('Monog-Regular.eot?#iefix') format('embedded-opentype'),
        url('Monog-Regular.woff2') format('woff2'),
        url('Monog-Regular.woff') format('woff'),
        url('Monog-Regular.ttf') format('truetype'),
        url('Monog-Regular.svg#Monog-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Grit Primer';
    src: url('GritPrimer.eot');
    src: url('GritPrimer.eot?#iefix') format('embedded-opentype'),
        url('GritPrimer.woff2') format('woff2'),
        url('GritPrimer.woff') format('woff'),
        url('GritPrimer.ttf') format('truetype'),
        url('GritPrimer.svg#GritPrimer') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KisMiklos';
    src: url('KisMiklos.eot');
    src: url('KisMiklos.eot?#iefix') format('embedded-opentype'),
        url('KisMiklos.woff2') format('woff2'),
        url('KisMiklos.woff') format('woff'),
        url('KisMiklos.ttf') format('truetype'),
        url('KisMiklos.svg#KisMiklos') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*button { cursor: url('pointer.cur'), auto; }*/
::selection {
background: #940F04;
color: white;
}

*{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" style="font-size: 20px;"><text y="15">✵</text></svg>'), auto;
}


em{
   font-style: normal;
}
/*lettera fatta con generatore di font esterno - calligraphr, basata su font del 1500,garamond. La riquadratura era negessaria a dare forma quadrangolare alle miniature.l'immagine di sfondo è ripresa da mix di miniatura del sidereus nuncius, a cui sono stati sottratti il putto e il drago. per decorazione e come tributo,la miniatura è stata arricchita con il calco di una costellazione illustrata nel sidereus nuncius */

#Main > *:first-child:first-letter {
    font-size: 21vw; /*deve occupare un terzo della colonna di testo, quindi un terzo di 64, ovvero un valore compreso tra 21 e 22vw*/
    float: left;
    font-family: 'Monog';
    font-weight: normal;
    font-style: normal;
    margin-top:2px;
    margin-right: 4px;
    margin-bottom: -1px;
    background-clip:content-box;
    background-image: url(monogrammabg.png);
    padding-bottom:0px;
    background-size: contain;
}

#Intro > *:first-child:first-letter {
    font-size: 21vw; /*deve occupare un terzo della colonna di testo, quindi un terzo di 64, ovvero un valore compreso tra 21 e 22vw*/
    float: left;
    font-family: 'Monog';
    font-weight: normal;
    font-style: normal;
    margin-top:2px;
    margin-right: 4px;
    margin-bottom: -1px;
    background-clip:content-box;
    background-image: url(monogrammabg.png);
    padding-bottom:0px;
    background-size: contain;
}


figure figcaption {
  width: 14vw;
  word-break:break-all;
  hyphens: auto;
  line-height: 86%;
  /*margin-right: -81%;*/
  /*justify-self:end;*/
  padding-left: 1em;
  position: absolute;
  transform: translateY(-100%) translateX(-115%);
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  font-size: 2vw; 
  color: #666154;
  background-color: transparent;
}

/*ridondante, ma serve a coprire tutti i casi*/
figure figcaption p{
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  font-size: 2vw; 
  color: #666154;
  background-color: transparent;
}

@media (max-width: 480px){
    figure figcaption{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-left: 0px;
        padding-top: 3px;
        padding-bottom: 10px;
        line-height: 100%;
        word-break:break-word;
    }
    figure figcaption p{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-left: 0px;
        line-height: 100%;
        word-break:break-word;
    }
}
/*@media (min-width: 1281px)
@media (min-width: 481px) and (max-width: 767px) 
 
*/

figure{
    margin:0px;
}
img{
    align-content: center;
    display: block;
    align-self: center;
    width: 100%;
    padding-top:3px; /*per evitare che le immagini si tocchino tra loro nel caso ce ne siano due di fila*/
    padding-bottom:3px;
    filter: grayscale(85%) sepia(50%);
    -webkit-filter: grayscale(85%) sepia(50%);
    -moz-filter: grayscale(85%) sepia(50%);
    /*generato con filter generator cssgenerator.org/filter-css-generator*/
}


body{
    background-color: #E6DAC0;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: justify;
    background-image: url(paginavuotasncancellata.jpg);
    width: 65%;
    margin-left: 21%;
    margin-right: 14%;
}

@media (max-width: 480px){
    body{
        font-size: 14px;
        width: 75%;
        margin-left: 16%; 
    margin-right: 9%;
    }
}

/*lasciato simbolicamente spazio dei margini anche se ridotti entrambi del 5% aumentando il corpo del 10*/

p{
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style: italic;
    background-color: #FBF9C8;
    font-size: 2vw;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #666154;
    display: block;   
}
 
@media (max-width: 480px){
    p{
        font-size: 14px;
    }
}
/*@media (min-width: 1281px)
@media (min-width: 481px) and (max-width: 767px) 
*/ 


aside p{
    font-size: 2vw;
    padding: 0em;
    margin-top: 0em;
    color: #940F04;
    display: block;
    margin:4vw;   
}

@media (max-width: 480px){
    aside p{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-left: 0px;
        padding-top: 3px;
        padding-bottom: 10px;
        line-height: 100%;
        word-break:break-word;
    }
/*@media (min-width: 1281px)
@media (min-width: 481px) and (max-width: 767px) 

/*73 charact in a line, I have to indent 3. --> 3:73=x:100*/



section p:not(:first-child){
    text-indent: 4%;
}


section p:first-of-type{
    text-indent: 0%;
}

#Footnotes p:first-of-type{
    text-indent: 4%;
}

#References p:first-of-type{
    text-indent: 4%;
}

table, td, th{
    width: 100%;
    border: 2px solid #937970;
    color: #524D42;
    border-collapse: collapse;   
}

table{
    margin-top: 5vh; /*!!*/
    margin-bottom: 5vh;
    width: 100%;
    border-collapse: collapse;
    align-content: flex-start;
    font-family: "JMH Legajo";
}
    
@media (max-width: 480px){
    table,td, th{
        font-size: 13px!important;
    }

th{
    color: #8E1616;
    font-family: "Grit Primer";
    text-transform: uppercase;
    font-size: 2vw;
}

/*@media (min-width: 1281px)
@media (min-width: 481px) and (max-width: 767px) 
@media (max-width: 480px)*/ 

td{
    font-size: 2vw;
   
}

/*@media (min-width: 1281px)
@media (min-width: 481px) and (max-width: 767px) 
@media (max-width: 480px)*/ 

table caption {
  width: 14vw;
  word-break:break-all;
  hyphens: auto;
  line-height: 100%;
  position: absolute;
  transform: translateY(+100%) translateX(-115%);
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  font-size: 2vw; 
  padding-left: 1em;
  padding-right: 0em;
  margin-left: 0em;
  margin-right: 0em;
  color: #666154;
  background-color: transparent;
  padding-bottom: 1em;
    text-align: justify;
}

table caption p{
  font-family: "JMH Legajo";
  font-weight: bold;
  font-style: normal;
  padding-right: 0em;
  margin-left: 0em;
  margin-right: 0em;
  color: #666154;
  background-color: transparent;
}

@media (max-width: 480px){
    table caption {
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0px;
        line-height: 100%;
        word-break:break-word;
    }
     table caption p{
        font-size: 14px;
        transform: translateY(0%) translateX(0%);
        position: relative;
        width: inherit;
         padding-left: 0px ;
        line-height: 100%;
         word-break:break-word;
    }
}
    


a:hover{
     cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" style="font-size: 20px;"><text y="15">✸</text></svg>'), auto;
}
    

h1{
    font-family: 'KisMiklos';
    text-align: center;
    font-size: 6vw; 
    text-transform: uppercase;
    font-style: reset;
    color: #8e1616;
    margin-top: 2em;
    border-top: 2em solid transparent;
    display: block;
    border-image: url(saggiatorecornice-removebg-preview.png) 174 round stretch;
    letter-spacing: 10px; 
    word-wrap: break-word;
    padding-top: 10px;
}
    
@media (max-width: 480px){
    h1{
        font-size: 22px;
        letter-spacing: 5px; 
    }}


a{
    color: #8e1616;
    text-decoration: none;
}


.subtitle{
    text-align:center;
    font-family: "KisMiklos";
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
    text-transform: uppercase;
    font-size:4vw;
    letter-spacing: 3px;
    margin: 2vh;
    padding: 0em;
    border-bottom: none;
    /*da rivedere*/
}
    
@media (max-width: 480px){
    .subtitle{
        font-size: 18px;
        letter-spacing: 3px; 
    }}

.byline{
    text-align:center;
    font-family: "KisMiklos";
    font-weight: bold;
    font-style: normal;
    background-color: transparent;
    font-size:5vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 1vh;
    margin: 1vh;
    border-bottom: none;
}
    
@media (max-width: 480px){
    .byline{
        font-size: 18px;
        letter-spacing: 3px; 
    }}

section{
    margin-bottom: 20vh;
}

section section{
    margin-bottom: 7vh !important;
}


h2{
    font-family: "Grit Primer";
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -3px;
    letter-spacing: 2px; 

}

@media (max-width: 480px){
    h2{
        font-size: 18px;
        letter-spacing: 2px; 
    }}

h3{
    font-family: "Grit Primer";
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -2px;
}

@media (max-width: 480px){
    h3{
        font-size: 17px;
        letter-spacing: 2px; 
    }}

h4{
    font-family: "Grit Primer";
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: #524D42;
    margin-bottom: -1px ;
}

@media (max-width: 480px){
    h4{
        font-size: 16px;
        letter-spacing: 2px; 
    }}

blockquote p{
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style:normal;
    background-color: #E6DAC0;
    font-size: 2vw;
}

blockquote{
    font-family: "JMH Legajo";
    font-weight: bold;
    font-style:normal;
    background-color: #E6DAC0;
    font-size: 2vw;
    }

@media (max-width: 480px){
    blockquote p{
        font-size: 14px;
    }}

@media (max-width: 480px){
    blockquote {
        font-size: 14px;
    }}