@font-face {
  font-family: 'North Avellion';
  src: url('../Minimalist2025/font/North-Avellion.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --text: #333333;
  --backcolor: #f7f7f7;
}


div #static {
    background-image: url(cover.jpeg);
    background-size: cover;
    height: fit-content;
    padding: 2% 15%;
}

div #static h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5%;
    color: #333333;
    text-shadow: 1px 1px #f7f7f7;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;

  }

div #static p, div #static h2 {
    text-align: justify;
    color: #f7f7f7;
    text-shadow: 1px 1px #333333;
    font-size: 4vh;
}
div #static h2 {
  text-align: center;
  font-family: 'North Avellion';
  font-size: 6vh;
}

@media (max-width: 800px) {
    div #static p, div #static h2 {
    font-size: 3vh;
    }
    div #static h1{
        font-size: 5vh;
    }
  }  
@media (max-width: 480px) {
    div #static p, div #static h2 {
        font-size: 2vh;
        }
    div #static h1{
    font-size: 3vh;
    }
  }