@font-face {
    font-family: 'Multicolore';
    src: url('Multicolore.eot');
    src: url('Multicolore.eot?#iefix') format('embedded-opentype'),
        url('Multicolore.woff2') format('woff2'),
        url('Multicolore.woff') format('woff'),
        url('Multicolore.ttf') format('truetype'),
        url('Multicolore.svg#Multicolore') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Millenium Bug';
    src: url('MilleniumBug.eot');
    src: url('MilleniumBug.eot?#iefix') format('embedded-opentype'),
        url('MilleniumBug.woff2') format('woff2'),
        url('MilleniumBug.woff') format('woff'),
        url('MilleniumBug.ttf') format('truetype'),
        url('MilleniumBug.svg#MilleniumBug') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.home{
    font-family: Gotham;
}

.btn-secondary{
    background-color: #000000 !important;
    border: 2px;
    border-color: yellow!important;
    font-size: 13px !important;
}
#butrow{
    margin-top: 35px;
    max-height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right:5vw;
}


.home {
    background-color: black; 
}

.home p, .home div p, home div div p {
    font-family: "Gotham";
}

body {
    padding-top: 20px;
    
    background-color: black !important;
    color: white;
}

h1, h2, h3 {
    color: #ffff00 !important;
}

.homepage p{
    color: #6C757D;
}

#item{
    min-height:450px;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */
    url(bug.gif);
    background-repeat: no-repeat;
    background-size:cover;
}


.navbar-toggleable-md .navbar-collapse {         
       -webkit-justify-content: flex-end;
       justify-content: flex-end;  
} 
.navbar{
    background-color:#545B62;
}

.navbar-header{
    align-content: flex-start;    
}


#divfacciata{
    background-color: #6C757D;
    color: honeydew;
    font-size: 110%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: justify;
    min-height:150px; 

}

#item1{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 1em;
    padding-top: 1em;
    padding: 0em;
    padding-left: 1em;
    padding-right: 1em;
    
}



#item2{
    min-height:10em; 
    background-size:cover;
    margin-top: 1em;
    margin: 1em;
    
}

#item4{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;
    
}

#item5{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;
    
}

.nav-item.active> a:hover, .dropdown> a:hover {
    color:wheat; /*ma perché sta roba non funziona?*/
    background-color: #7F7604;
    
}

.dropdown-menu> a:hover{
    background-color: #7F7604;
}

.navbar-custom{
    background-color: #545B62;
    color: antiquewhite;
}

.nav-item{
    color:aliceblue; 
    background-color: #545B62;
}

.navbar-nav > li > .dropdown-menu {
    background-color: black;}

#covertextbox{
    color: honeydew;
    margin-top:5em;
    margin-left: 0em;
    padding-top: 1em;
}

#covertitle{
    text-align:center;
    font-family: "Multicolore";
    font-size: 7vw;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

.pagetitle{
    text-align:center;
    font-family: "Multicolore";
    font-size: 150%;
}

.pagetitlecontainer{
    margin-top: 3em;
    padding-top: 1em;
    font-size: 2em;
}

.pagesubtitlecontainer{
    margin-top: 0em;
    padding-top: 1em;
    font-size: 30px;
}

.pagesubtitle{
    text-align:center;
    font-family: "Multicolore";
    font-size: 100%;
}

#coversubtitle{
    text-align: center;
    font-size: 3vw;
    align-content: flex-end;
    font-family: "Multicolore";
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

#coversubtitle a{
    color: yellow;
}

/*non riesco a cambiare il clore del testo nella navbar*/

.navbar-brand{
    object-position: center;
    color: white;
    background-color: #545B62;
    border-radius: 4%;
    margin:0px;
    padding: 3px;
}

.navbar-light{
    color: aliceblue;
}

.dropdown-menu{
    color: black;
}

.nav.navbar-nav li a{
color: white;
}

.navbar-nav{
    color: aliceblue; 
}
/*!!!!!!! nessuno di questi funziona*/
p{
    margin-top: 1em;
    padding: 1em;
}

.card-text{
    padding: 0em;
    max-height:inherit;
    margin:0em;
    text-align:center;
    font-size: 90%;
    max-width: inherit;
    font-stretch: extra-condensed;
    font-style: normal;
    flex-wrap: wrap;
    
}

.card-title{
    font-family: "Multicolore";
    display: inline-block;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 25px;
}

a {
    color: honeydew;
}
a:hover{
    color: #7f3434;
}

#cardUT{
    padding: 1em;
    margin: 1em;
    color: #E9D4D8;
    background-color: #7F7604;
    border-radius: 10px;
    height: 7em;
    width: 80%;
    
}

#cardLTS{
    padding: 1em;
    margin: 1em;
    color: #D8CAC2;
    background-color: #545B62;
    border-radius: 10px;
    height: 7em;
    width: 80%;
}

#cardAS{
    padding: 1em;
    margin: 1em;
    color: #000000;
    background-color: #F7FF00;
    border-radius: 10px;
    height: 7em;
    width: 80%;
}

#cardCT{
    padding: 1em;
    margin: 1em;
    color: #CBD4DA;
    background-color: #74701C;
    border-radius: 10px;
    height: 7em;
    width: 80%;
}

#cardAndrea{
    padding: 1em;
    margin: 1em;
    color: #E9D4D8;
    background-color: #7F7604;
    border-radius: 10px;
    
}

#cardArianna{
    padding: 1em;
    margin: 1em;
    color: #D8CAC2;
    background-color: #545B62;
    border-radius: 10px;
    
}

#cardBenedetta{
    padding: 1em;
    margin: 1em;
    color: #000000;
    background-color: #F7FF00;
    border-radius: 10px;
    
}


#cardAmanda{
    padding: 1em;
    margin: 1em;
    color: #CBD4DA;
    background-color: #74701C;
    border-radius: 10px;
    
}


#footerdiv{
    background-color: #545B62;
    margin: 0px;
    padding: 0px;
}



#footercol1{
    align-content: center;
}

#footercol2{
    align-content: center;
    padding:1em;
    margin: 1em;
}

#footercol3{
    align-content: center;
    padding:1em;
    margin: 1em;
}

.footercoltext{
    font-size: 85%
}


/*così immagini non superano dimensione loro div*/
div img {
    height: 100%;
    width: 100%;
}

#logo{
    max-height:100px;
    max-width: 130px;
}

}
footer{
    max-height: 200px;
}

.crnotice{
    text-align:center;
    font-family: "Multicolore";
    color: honeydew;
    font-size: 85%;
}

.footersectionheader{
    color: honeydew;
    text-align:center;

}

#footercol1{
    margin-top: 20px;
    padding-top:20px;    
}

.card-body{
    padding:0.25rem;
}