@font-face {
    font-family: 'Televideo';
    src: url('fonts_Televideo/font_televideo_regular/TelevideoRegular.eot');
    src: url('fonts_Televideo/font_televideo_regular/TelevideoRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.woff2') format('woff2'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.woff') format('woff'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.ttf') format('truetype'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.svg#TelevideoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ModeSeven';
    src: url('fonts_Televideo/font_ModeSeven/ModeSeven.eot');
    src: url('fonts_Televideo/font_ModeSeven/ModeSeven.eot?#iefix') format('embedded-opentype'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.woff2') format('woff2'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.woff') format('woff'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.ttf') format('truetype'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.svg#ModeSeven') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    font-family: 'ModeSeven';        
}

.homepage figure,.homepage img{
    max-width: 200px;
    margin: auto;
    display: block;
}

html{
    overflow-x: hidden;
}

body{
    color: white !important;
    background-color: black !important;
    font-family: 'ModeSeven';
    padding-top: 20px; 
    overflow-x: hidden;
 
}

.menucontainer{
    margin-top: 2em;
    margin-bottom: 6em;
    text-align: center;
}

.btn-secondary{
    background-color: #000000 !important;
    border:1px solid;
    border-color: #00FF00 !important;
    font-size: 10px !important;
}

#butrow{
    margin-top: 35px;
    max-height: 25px;
    display:inline-table;
    line-height: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#item{
    min-height:450px;  
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(noise2.gif);
    font-size: 220%
}

*{  
  cursor: url('pixil-frame-0-_1_.v3.cur'), auto;	
}
* a{  
  cursor: url('pixil-frame-0-_1_.v3.cur'), auto;	
}


.homepage{    
    max-width: 40ch;
}

.home h2{
    font-size:25px;
    color: blue;
    text-transform: uppercase;
    font-weight: bolder;
}

.homepage h2{
    font-size:25px;
    background-color: yellow;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
}

.homepage h3{
    font-size:20px;
    background-color: #ff0000;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
}
.homepage p{
    margin: 10px;
    padding:5px;
    white-space: normal;
    overflow-wrap: break-word;
    border-bottom-width: thick;
    border-top: hidden;
}

.homepage p:hover{
    border-image: url(noise2.gif);
    border-image-slice: 10;

}

/* Tablet in modalità orizzontale */
@media screen and (min-width: 851px){
.homepage {
    font-size: 24px;
  }}

@media screen and (min-width: 737px) and (max-width: 850px) {
.homepage {
    font-size: 22px;
  }}


/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) {
    .homepage {
    font-size: 18px;
  }}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 
    .homepage {
    font-size: 17px;
  } } 




.btn-group{
    margin-top: 5px;
}
.navbar-toggleable-md .navbar-collapse {         
       -webkit-justify-content: flex-end;
       justify-content: flex-end;  
} 
.navbar{
    background-color:#0000FF;
    min-height: 50px;
}

.navbar-header{
    align-content: flex-start;    
}



#divfacciata{
    background-color: #00FF00;
    color: black;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    min-height:150px; 

}

#divfacciata p{
    color: black;
    padding: 20px;
}

#item1{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 1em;
    padding-top: 1em;
    padding: 0em;
    padding-left: 1em;
    padding-right: 1em;
    
}



#item2{
    min-height:10em; 
    background-size:cover;
    margin-top: 1em;
    margin: 1em;
    
}

#item4{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;
    
}

#item5{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;
    
}

.nav-item.active> a:hover, .dropdown> a:hover {
    color:wheat; /*ma perché sta roba non funziona?*/
    background-color: #00ffff;
    
}

.dropdown-menu> a:hover{
    background-color: #00ffff;
}

.navbar-custom{
    background-color: #0000ff;
    color: antiquewhite;
}

.nav-item{
    color:aliceblue; 
    background-color: #0000ff;
}

.navbar-nav > li > .dropdown-menu {
    color: #00ff00;
    background-color: #00FF00;}

#covertextbox{
    color: #ffffff;
    margin-left: 0em;
    padding: 1em;
}

#covertitle{
    text-align:center;
    font-family: "Televideo";
    font-size: 8vw;
    text-shadow: -1px 0 #00FF00, 0 1px #FFFF00, 1px 0 #0000FF, 0 -1px #FF0000;
}

/* Tablet in modalità orizzontale */
@media screen and (min-width: 851px){
#covertitle{
    text-align:center;
    font-family: "Televideo";
    font-size: 130px;
    text-shadow: -1px 0 #00FF00, 0 1px #FFFF00, 1px 0 #0000FF, 0 -1px #FF0000;
}}

@media screen and (min-width: 737px) and (max-width: 850px) {
#covertitle {
    font-size: 100px;
  }}


/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) {
    #covertitle {
    font-size: 70px;
  }}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 
    #covertitle {
    font-size: 60px;
  } } 

.pagetitlecontainer{
    margin-top: 1em;
}

.pagesubtitlecontainer{
    margin-top: 0px;
    padding-top: 20px;
    font-size: 30px;
}

.pagetitle{
    text-align:center;
    font-family: "Televideo";
    font-size: 5vw;
    letter-spacing: 2px;
    overflow: hidden;
    white-space:pre-wrap;
    margin: auto; 
    animation: flashing 1.3s steps(5, start) infinite;
    -webkit-animation: flashing .8s steps(5, start) infinite;
    font-weight: bolder;
}


@media all and (max-width: 650px) { 
    .pagetitle {
    font-size: 40px;
  } } 



#coversubtitle{
    text-align: center;
    font-size: 4vw;
    animation: flashing 1.3s steps(5, start) infinite;
    -webkit-animation: flashing .8s steps(5, start) infinite;
    color: #ffffff;
    font-weight: bolder;
        text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

@keyframes flashing { to { visibility: hidden; } }
@-webkit-keyframes flashing { to { visibility: hidden; } }
}

.navbar-brand{
    object-position: center;
    color: white;
    background-color: #0000ff;
    border-radius: 0%;
    margin:0px;
    padding: 3px;
}

.navbar-light{
    color: #ffffff;
}

.dropdown-menu{
    color: black;
}

.nav.navbar-nav li a{
color: white;
}

.navbar-nav{
    color: aliceblue; 
}
/*!!!!!!! nessuno di questi funziona*/
p{
    margin-top: 1em;
    padding: 1em;
}

.card-text{
    padding: 0em;
    max-height:inherit;
    margin:0em;
    text-align:center;
    font-size: 90%;
    max-width: inherit;
    font-stretch: extra-condensed;
    font-style: normal;
    flex-wrap: wrap;
    
}

.card-title a{
    font-family: "Televideo";
    color: black;
    display: inline-block;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 25px;
    white-space: normal;
}

a {
    color: #ffffff;
    white-space: normal !important;
}
a:hover{
    color: yellow;
}

#cardAndrea{
    padding: 1em;
    margin: 1em;
    color: black;
    color: #ffffff;
    background-color: #FF00FF;
    border-radius: 0px;
    
}

#cardArianna{
    padding: 1em;
    margin: 1em;
    color: #ffffff;
    background-color: #0000ff;
    border-radius: 0px;
    
}

#cardBenedetta{
    padding: 1em;
    margin: 1em;
    color: black;
    background-color: #00ff00;
    border-radius: 0px;
    
}


#cardAmanda{
    padding: 1em;
    margin: 1em;
    color: #000000;
    background-color: #00FFFF;
    border-radius: 0px;
    
}

footer a{
    color: #00FFFF;
}

#footerdiv{
    background-color: #0000ff;
    margin: 0px;
    padding: 0px;
}



#footercol1{
    align-content: center;
}

#footercol2{
    align-content: center;
    padding:1em;
    margin: 1em;
}

#footercol3{
    align-content: center;
    padding:1em;
    margin: 1em;
}

.footercoltext{
    font-size: 85%;
    white-space: normal;
    word-break: break-all;
}


/*così immagini non superano dimensione loro div*/
div img {
    height: 100%;
    width: 100%;
}

#logo{
    max-height:100px;
    max-width: 130px;
}

}
footer{
    max-height: 200px;
}

.crnotice{
    text-align:center;
    font-family: "Televideo";
    color: #ffffff;
    font-size: 85%;
}

.footersectionheader{
    color: honeydew;
    text-align:center;

}

#footercol1{
    margin-top: 20px;
    padding-top:20px;    
}

.card-body{
    padding:0.25rem;
}

/*documentation fixing*/

.homepage figure.palettecolor,.homepage img.palettecolor{
    max-width: 100px;
    margin: auto;
    display: inline;
}
 
    
.menucontainer{
    margin-top: 2em;
    margin-bottom: 6em;
    text-align: center;
}

div .dropdown-menu{
    background-color: #ff00ff;}

.menubtn{
    background-color: #000000;
    color:#ffffff;
}

.btn-group>.btn{
    border-radius: 0;
    border:1px solid #00ff00;   
}

.btn-group>.dropdown-menu{
    border-radius: 0;
}

.palettecolor{
    max-width: 100px;
}
#item6 div{
    margin-top: 3em;
    margin-bottom: 3em;  
}

#item6 li{
    color:#ffff00;
}

#item6 div a{
    color: #ff0000;
}

#item6 div img{
    margin-top:1em;
    margin-bottom: 1em;
    border: 8px solid;
    border-image: url(noise2.gif);
    border-image-slice: 20;

}

#item6 div h1{
    text-transform: uppercase;
    text-align: center;
    color: #00ffff;
}

#item6 div h2, #item6 div h3{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.palettecontainer{
    display: flex;
    max-width: inherit;
    flex-wrap: wrap;
}
