@font-face {
    font-family: 'Televideo';
    src: url('fonts_Televideo/font_televideo_regular/TelevideoRegular.eot');
    src: url('fonts_Televideo/font_televideo_regular/TelevideoRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.woff2') format('woff2'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.woff') format('woff'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.ttf') format('truetype'),
        url('fonts_Televideo/font_televideo_regular/TelevideoRegular.svg#TelevideoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ModeSeven';
    src: url('fonts_Televideo/font_ModeSeven/ModeSeven.eot');
    src: url('fonts_Televideo/font_ModeSeven/ModeSeven.eot?#iefix') format('embedded-opentype'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.woff2') format('woff2'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.woff') format('woff'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.ttf') format('truetype'),
        url('fonts_Televideo/font_ModeSeven/ModeSeven.svg#ModeSeven') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    font-family: 'ModeSeven';
    font-size: 14px;
    overflow-x: hidden;
        
}

body{
    color: white !important;
    background-color: black !important;
    font-family: 'ModeSeven';
    line-height: 150%;
    padding-top: 20px; 
    overflow-x: hidden;
 
}

.btn-secondary{
    background-color: #000000 !important;
    border-color: #00FF00 !important;
    font-size: 9px !important;
}
#butrow{
    margin-top: 35px;
    max-height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right:5vw;
}

#item{
    min-height:450px;  
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(noise2.gif);
    font-size: 220%
}

*{  
  cursor: url('pixil-frame-0-_1_.v3.cur'), auto;	
}
* a{  
  cursor: url('pixil-frame-0-_1_.v3.cur'), auto;	
}


.homepage{
    margin: auto;
    column-fill: auto;
    column-rule-width: 5px;
    column-rule-style:hidden;
    overflow-x: hidden;
}

.homepage h2{
    font-size:20px;
    background-color: yellow;
    color: blue;
    text-transform: uppercase;
    font-weight: bolder;
}

.homepage h3{
    font-size:20px;
    background-color: #ff0000;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
}
.homepage p{
    padding: 10px;
    text-align:justify;
    white-space: normal;
    border-bottom-width: thick;
    border: 10px solid blue;
    border-top: hidden;
}

.homepage p:hover{
    border-image: url(noise2.gif);
    border-image-slice: 10;

}

/* Tablet in modalità orizzontale */
@media screen and (min-width: 851px){
.homepage {
    column-count: 2;
    font-size: 18px;
  }}

@media screen and (min-width: 737px) and (max-width: 850px) {
.homepage {
    column-count: 1;
    font-size: 18px;
  }}


/* Tablet in modalità verticale */
@media all and (min-width: 481px) and (max-width: 736px) {
    .homepage {
    column-count: 1;
    font-size: 15px;
  }}

/* Smartphone o piccoli Tablet */
@media all and (max-width: 480px) { 
    .homepage {
    column-count: 1;
    font-size: 15px;
  } } 




.btn-group{
    margin-top: 40px;
}
.navbar-toggleable-md .navbar-collapse {         
       -webkit-justify-content: flex-end;
       justify-content: flex-end;  
} 
.navbar{
    background-color:#0000FF;
    min-height: 50px;
}

.navbar-header{
    align-content: flex-start;    
}



#divfacciata{
    background-color: #00FF00;
    color: black;
    font-size: 110% !important;
    padding-left: 12%;
    padding-right: 12%;
    text-align: justify;
    min-height:150px; 

}

#divfacciata p{
    color: black;
    padding-top: 20px;
}

#item1{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 1em;
    padding-top: 1em;
    padding: 0em;
    padding-left: 1em;
    padding-right: 1em;
    
}



#item2{
    min-height:10em; 
    background-size:cover;
    margin-top: 1em;
    margin: 1em;
    
}

#item4{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;
    
}

#item5{
    align-content: center;
    min-height:15em; 
    background-size:cover;
    margin-top: 2em;
    padding-top: 1em;
    padding: 2em;
    
}

.nav-item.active> a:hover, .dropdown> a:hover {
    color:wheat; /*ma perché sta roba non funziona?*/
    background-color: #00ffff;
    
}

.dropdown-menu> a:hover{
    background-color: #00ffff;
}

.navbar-custom{
    background-color: #0000ff;
    color: antiquewhite;
}

.nav-item{
    color:aliceblue; 
    background-color: #0000ff;
}

.navbar-nav > li > .dropdown-menu {
    color: #00ff00;
    background-color: #00FF00;}

#covertextbox{
    color: honeydew;
    margin-top: 80px;
    margin-left: 0em;
    padding: 1em;
    margin-top:5em;

}

#covertitle{
    text-align:center;
    font-family: "Televideo";
    font-size: 8vw;
}

.pagetitlecontainer{
    margin-top: 3em;
    padding-top: 1em;
    font-size: 2em;
}

.pagesubtitlecontainer{
    margin-top: 0px;
    padding-top: 20px;
    font-size: 30px;
}

.pagetitle{
    text-align:center;
    font-family: "Televideo";
    font-size: 4vw;
    letter-spacing: .2em;
    overflow: hidden;
    border-right: 1em solid #fafafa;
    white-space: nowrap;
    margin: auto;
    animation: 
        typing 3.5s steps(25, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FAFAFA }
}

@media all and (max-width: 480px) { 
    .pagetitle {
    font-size: 24px;
  } } 

#coversubtitle{
    text-align: center;
    font-size: 4vw;
    align-content: flex-end;
    animation: flashing 1.3s steps(5, start) infinite;
    -webkit-animation: flashing .8s steps(5, start) infinite;
    color: #ffffff;
    font-weight: bolder;
}



@keyframes flashing { to { visibility: hidden; } }
@-webkit-keyframes flashing { to { visibility: hidden; } }
}

/*non riesco a cambiare il clore del testo nella navbar*/

.navbar-brand{
    object-position: center;
    color: white;
    background-color: #0000ff;
    border-radius: 0%;
    margin:0px;
    padding: 3px;
}

.navbar-light{
    color: aliceblue;
}

.dropdown-menu{
    color: black;
}

.nav.navbar-nav li a{
color: white;
}

.navbar-nav{
    color: aliceblue; 
}
/*!!!!!!! nessuno di questi funziona*/
p{
    margin-top: 1em;
    padding: 1em;
}

.card-text{
    padding: 0em;
    max-height:inherit;
    margin:0em;
    text-align:center;
    font-size: 90%;
    max-width: inherit;
    font-stretch: extra-condensed;
    font-style: normal;
    flex-wrap: wrap;
    
}

.card-title a{
    font-family: "Televideo";
    color: black;
    display: inline-block;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 25px;
    white-space: normal;
}

a {
    color: #ffffff;
    white-space: normal !important;
}
a:hover{
    color: yellow;
}

#cardAndrea{
    padding: 1em;
    margin: 1em;
    color: black;
    color: #ffffff;
    background-color: #FF00FF;
    border-radius: 0px;
    
}

#cardArianna{
    padding: 1em;
    margin: 1em;
    color: #ffffff;
    background-color: #0000ff;
    border-radius: 0px;
    
}

#cardBenedetta{
    padding: 1em;
    margin: 1em;
    color: black;
    background-color: #00ff00;
    border-radius: 0px;
    
}


#cardAmanda{
    padding: 1em;
    margin: 1em;
    color: #000000;
    background-color: #00FFFF;
    border-radius: 0px;
    
}

footer a{
    color: #00FFFF;
}

#footerdiv{
    background-color: #0000ff;
    margin: 0px;
    padding: 0px;
}



#footercol1{
    align-content: center;
}

#footercol2{
    align-content: center;
    padding:1em;
    margin: 1em;
}

#footercol3{
    align-content: center;
    padding:1em;
    margin: 1em;
}

.footercoltext{
    font-size: 85%;
    white-space: normal;
    word-break: break-all;
}


/*così immagini non superano dimensione loro div*/
div img {
    height: 100%;
    width: 100%;
}

#logo{
    max-height:100px;
    max-width: 130px;
}

}
footer{
    max-height: 200px;
}

.crnotice{
    text-align:center;
    font-family: "Televideo";
    color: honeydew;
    font-size: 85%;
}

.footersectionheader{
    color: honeydew;
    text-align:center;

}

#footercol1{
    margin-top: 20px;
    padding-top:20px;    
}



.card-body{
    padding:0.25rem;
}