@font-face {
	font-family: 'bauhaus';
	src: url("fonts_Bauhaus/font_bauhaus_bold/Bauhaus-Bold.woff2") format("woff2"), 
	url("fonts_Bauhaus/font_bauhaus_bold/Bauhaus-Bold.woff") format("woff");
	font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Futura';
  src: url('fonts_Bauhaus/font_futura/FuturaBT-Book.eot');
  src: url('fonts_Bauhaus/font_futura/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
      url('fonts_Bauhaus/font_futura/FuturaBT-Book.woff2') format('woff2'),
      url('fonts_Bauhaus/font_futura/FuturaBT-Book.woff') format('woff'),
      url('fonts_Bauhaus/font_futura/FuturaBT-Book.ttf') format('truetype'),
      url('fonts_Bauhaus/font_futura/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
<html> 
<body> 
  <div>
    <header> forme geometriche 
      <h1, h2> Neri bold // sottotitolo, se presente, 90° #000000 #969696 #FFFFFF #E73229 #146EAA #EFC800 #F08D28 #f9f7de
    <article> Una colonna fitta centrale
      <p> border leggero colorato 
      <figure> 
        <img> bordo colorato, bianco e nero 
        <figcaption>
      <table> ?
    </article> 
  </div>
</body>
*/
#articlebody {
  background-color: #f9f7de;
  border-right: 70px solid #146EAA;
  text-align: justify;
  border-left: 70px solid #E73229;
}
@media (max-width: 800px) {
  #articlebody {
    border-right: 25px solid #146EAA;
    border-left: 25px solid #E73229;
  }
}

@media (max-width: 480px) {
  #articlebody {
    border-right: 15px solid #146EAA;
    border-left: 15px solid #E73229;
  }
}
.articlestyle div div {
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
}
@media (max-width: 800px) {
  #articlebody {
    padding-left: 3% ;
    padding-right: 1%;
  }
}

@media (max-width: 480px) {
  #articlebody {
    padding-left: 1% ;
    padding-right: 1%;
  }
}

.articlestyle header {
  background-image: url(images/logo5def.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 5%;
  text-align: right;
}
@media (max-width: 800px) {
  .articlestyle header {
    background-size: 60%;
  }
}

@media (max-width: 480px) {
  .articlestyle header {
    background-size: 70%;
  }
}

.articlestyle header {
  border-bottom: 7px solid black; 
}
.articlestyle header h1, .articlestyle header p, .articlestyle header h2, .articlestyle header .subtitle, .articlestyle header .byline {
  font-family: 'bauhaus';
  font-size: 7vh;
  color: #000000;
  text-shadow: 3px 3px  #E73229, 6px 6px  #146EAA, -3px -3px #EFC800;
  transform: rotate(-5deg);
}
@media (max-width: 800px) {
  .articlestyle header h1, .articlestyle header p, .articlestyle header h2, .articlestyle header .subtitle, .articlestyle header .byline {
    font-size: 6vh;
    text-shadow: 1.3px 1.3px  #E73229, 3px 3px  #146EAA, -1.3px -1.3px #EFC800;

  }
}

@media (max-width: 480px) {
  .articlestyle header h1, .articlestyle header p, .articlestyle header h2, .articlestyle header .subtitle, .articlestyle header .byline {
    font-size: 4vh;
    text-shadow: 1.3px 1.3px  #E73229, 3px 3px  #146EAA, -1.3px -1.3px #EFC800;
  }
}

.articlestyle article p:nth-child(odd) {
  border-left: 7px solid #EFC800;
  border-top: 7px solid #EFC800;
  color: black;
  padding: 2%;
}
.articlestyle article p:nth-child(even) {
  border-right: 7px solid #F08D28;
  border-bottom: 7px solid #F08D28;
  color: black;
  padding: 2%;
}

.articlestyle article p {
  font-family: 'Futura';
  font-size: 1.2rem;
}

.articlestyle section {
  font-family: 'Futura';
  font-size: 1.2rem;
}

.articlestyle article figure {
  display: inline-block;
  border-top: #E73229;
  border-bottom:  #146EAA;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%; 
  text-align: left;
  font-family: 'bauhaus';
}

.articlestyle article img{
  width: 80%;
  filter: grayscale(100%);
}

.articlestyle footer{
  border-bottom: solid 50px #ada3a1;
}

.articlestyle table, th, td {
  border-top: 3px solid #E73229;
  border-bottom: 3px solid #146EAA;
  border-left: 3px solid #EFC800;
  border-right: 3px solid #F08D28;
  border-style: solid;
  text-align: justify;
  font-size: inherit;
}
@media (max-width: 1000px) {
  .articlestyle table, th, td {
    border-top: 1px solid #E73229;
    border-bottom: 2px solid #146EAA;
    border-left: 2px solid #EFC800;
    border-right: 2px solid #F08D28;
    border-style: solid;
    text-align: justify;
    font-size: 80%;

  }
}

@media (max-width: 800px) {
  .articlestyle table, th, td {
    border-top: 1px solid #E73229;
    border-bottom: 2px solid #146EAA;
    border-left: 2px solid #EFC800;
    border-right: 2px solid #F08D28;
    border-style: solid;
    text-align: justify;
    font-size: 70%;

  }
}

@media (max-width: 480px) {
  .articlestyle table, th, td {
    border-top: 1px solid #E73229;
    border-bottom: 2px solid #146EAA;
    border-left: 2px solid #EFC800;
    border-right: 2px solid #F08D28;
    border-style: solid;
    text-align: justify;
    font-size: 50%;
}