:root {
    --color_base: #85c1b1;
    --color_mag: #ebe9e2;
    --color_headline: #aa8740;
    --color_ink: #282724;
    --magazine: 52rem;
    --img_size: 15rem;
    --img_size_circled: calc(var(--img_size) / 2);
    --gap: calc(var(--magazine) / 17.333333333333333);
    --gap_half: calc(var(--gap) / 2);
    --border: 2px;
  }
  @media screen and (min-width: 35.625rem) {
    :root {
      --gap: calc(var(--magazine) / 8.666666666666667);
    }
  }
  
  body {
    min-width: 20rem;
    background-color: var(--color_base);
    color: var(--color_ink);
    font-family: "PT Sans", sans-serif;
    margin: 0;
  }
  
  figure {
    margin: 0;
  }
  
  p {
    font-size: 0.9rem;
    line-height: 1.7;
  }
  
  ::-moz-selection {
    background-color: var(--color_base);
  }
  
  ::selection {
    background-color: var(--color_base);
  }
  
  .u-col {
    display: inline-block;
  }
  
  @media screen and (min-width: 45.688rem) {
    .u-txt-right {
      text-align: right;
    }
  }
  
  .u-circled {
    border-radius: 50%;
    shape-outside: circle();
  }
  @media screen and (min-width: 35.625rem) {
    .u-circled {
      width: calc(var(--img_size) * 1.1);
      height: calc(var(--img_size) * 1.1);
    }
  }
  @media screen and (min-width: 45.688rem) {
    .u-circled {
      width: var(--img_size_circled);
      height: var(--img_size_circled);
    }
  }
  
  @media screen and (min-width: 35.625rem) {
    .u-float-right {
      float: right;
    }
  }
  
  @media screen and (min-width: 45.688rem) {
    .u-float-left {
      float: left;
    }
  }
  
  .c-heading {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: normal;
    margin: 0;
  }
  .c-heading--prim {
    border-bottom: var(--border) solid var(--color_ink);
    color: var(--color_headline);
    font-size: 3.5rem;
    line-height: 0.9;
    margin-bottom: 0.7rem;
    padding-bottom: 1.5rem;
  }
  @media screen and (min-width: 35.625rem) {
    .c-heading--prim {
      font-size: 6rem;
    }
  }
  .c-heading--sec {
    font-size: 1.15rem;
  }
  
  .o-grid {
    max-width: var(--magazine);
    background-color: var(--color_mag);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f7f0' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    border-left: calc((100vw - var(--magazine)) / 2) solid var(--color_ink);
    border-right: var(--border) solid var(--color_ink);
    display: grid;
    grid-template: auto 1fr/var(--gap) repeat(2, 1fr) var(--gap);
  }
  .o-grid__area {
    grid-column: 2/span 2;
  }
  .o-grid__area--media {
    justify-self: center;
  }
  @media screen and (min-width: 35.625rem) and (max-width: 45.625rem) {
    .o-grid__area--media {
      justify-self: flex-end;
    }
  }
  
  .o-header {
    margin-top: var(--gap_half);
    text-align: center;
  }
  
  .o-media {
    width: var(--img_size);
    height: var(--img_size);
    border-radius: 50%;
    margin-top: 2rem;
    overflow: hidden;
  }
  .o-media__img {
    width: 100%;
  }
  
  .o-content {
    -moz-columns: 15rem;
         columns: 15rem;
    -moz-column-gap: calc(var(--gap) / 1.7);
         column-gap: calc(var(--gap) / 1.7);
  }
  @media screen and (min-width: 35.625rem) {
    .o-content {
      margin-top: calc(var(--img_size_circled) * -2);
    }
  }
  @media screen and (min-width: 45.688rem) {
    .o-content {
      margin-top: calc(var(--img_size_circled) * -1);
    }
  }
  
  .o-footer {
    margin-top: 2rem;
    opacity: 0.2;
  }
  .o-footer p {
    line-height: 1.3;
    word-break: break-all;
  }