@font-face {
  font-family: 'Multicolore';
  src: url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_Multicolore/Multicolore.eot');
  src: url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_Multicolore/Multicolore.eot?#iefix') format('embedded-opentype'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_Multicolore/Multicolore.woff2') format('woff2'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_Multicolore/Multicolore.woff') format('woff'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_Multicolore/Multicolore.ttf') format('truetype'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_Multicolore/Multicolore.svg#Multicolore') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* HEADER AND LOGO */
@font-face {
  font-family: 'Gotham';
  src: url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_gotham/Gotham-Book.eot');
  src: url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_gotham/Gotham-Book.woff2') format('woff2'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_gotham/Gotham-Book.woff') format('woff'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_gotham/Gotham-Book.ttf') format('truetype'),
      url('../site_styles_css/MilleniumSTYLE/fonts_Millenium/font_gotham/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




.articlestyle header h1 {
    font-family: 'Multicolore';
    font-size: 6vh;
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: black;}
}

.articlestyle header h2, .articlestyle header h3, .articlestyle header h4, .articlestyle header p {
  font-family: 'Gotham';
  font-size: 5vh;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #dcf900;
}


.articlestyle header {
  padding: 1% 4%;
  background-color: black;
  text-align: center;
  background-image : url("images/logo3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

@media screen and (max-width: 800px) {
  .articlestyle header {
  background-position: center;
}
}

#articlebody {
  background-color: #dcf900;
  margin: 2%;
}

@media screen and (max-width: 800px) {
  #articlebody {
    margin: 1%;}
}
.articlestyle article {
  font-family: 'Gotham';
  color: black;
  text-align: justify;
  column-count: 2;
  column-fill: auto;
  column-rule-width: 5px;
  column-rule-style: double;
  column-rule-color: white;
  column-span: all;
  overflow-x: hidden;
  word-break: break-word;
  border: 5px double white;
  padding: 3%;
}

@media screen and (max-width: 800px) {
.articlestyle article {
  column-count: 1;
  padding: 5%;

}
}

.articlestyle article p {
display: inline-block;
text-align: justify;
border-bottom: 5px solid black;
margin: 2% 7%;
}

.articlestyle article h2, .articlestyle article h3, .articlestyle article h4 {
  font-family: 'Gotham';
  font-size: 4vh;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}



/*****************************************************/
.articlestyle figure {
    display: inline-block;
}

.articlestyle figcaption {
  display: transparent;
  font-size: 80%;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 1px black;
  letter-spacing: px; 

}

.articlestyle img {
    width: 75%;
    transition: transform 5s;
    background-color: #dcf900;
    float:left;
    text-align: center;
}

.articlestyle footer{
  background-size: cover;
  font-size: 1.5vh;
  text-align: center;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  padding: 3%;
  padding-left: 5%;
  padding-top: 5%;
}

.articlestyle footer::after {
  font-family: 'Multicolore';
  color: red;
  font-size: 5vh;
  content: "TURN OFF YOUR COMPUTER BEFORE 12/31/1999";
  text-shadow: 1px 1px 1px black;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.articlestyle table {
  border: 2px solid black;
}

.articlestyle tr, .articlestyle th {
  border: 2px solid black;

}
.articlestyle table, .articlestyle caption, .articlestyle caption p{
  font-size: 1.8vh;
  margin-top:2%;
  margin-bottom:2%;
  display: inline-block;
  color: black;
}

@media (max-width: 500px){
  .articlestyle table{
      font-size: 1.8vh;
      width: 100%;
  }
  .articlestyle caption{
      font-size: 1vh;
      max-width:100%
  }
  .articlestyle caption p{
      font: size 1vh;;
  }
}

.articlestyle article a span {
  text-decoration: underline;
}