@font-face {
	font-family: 'camelot';
	src: url("capFont/camelot-webfont.woff2") format("woff2"), 
	url("capFont/camelot-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal; }
@font-face {
	font-family: 'titlefont';
	src: url("capFont/angelRhapsody.woff2") format("woff2"), 
	url("capFont/angelRhapsodyRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal; }
@font-face {
	font-family: 'onciale';
	src: url("capFont/onciale.woff2") format("woff2"), 
	url("capFont/onciale.woff") format("woff");
	font-weight: normal;
	font-style: normal; }	  
	
.articlestyle html {
	margin: 0 auto; 
	padding: 0;
}

.articlestyle *::selection {
	color: gold; 
	background: #8b0000;
  }
.articlestyle #articlebody {
	background-image: url(images/oldpaper.jpg); 
	background-size: cover;
	background-repeat: no-repeat;

}
.articlestyle #articlebody > div {
	background-image: url(images/border-left.png), url(images/border-right.png), url(images/dog.png), url(images/dog_right.png);
	background-position: top left, top right, bottom left, bottom right;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 45%, 45%, 12%, 12%; 
	padding: 7%;
	border-style: double;
}

.articlestyle header {
	text-align: justify;
	display: inline-block;
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 4%;
}
@media (max-width: 1025px) {
	.articlestyle header {
	margin-top: 1%;
	margin-left: 22%;
	margin-right: 22%; 
	margin-bottom: 2%;
	}
}

@media (max-width: 880) {
	.articlestyle header {
	margin-top: 1%;
	margin-left: 8%;
	margin-right: 8%; 
	margin-bottom: 2%;
	}
}

@media (max-width: 700) {
	.articlestyle header {
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%; 
	}
}
@media (max-width: 400) {
	.articlestyle header {
	margin-left: 20%;
	margin-right: 20%; 
	}
}


.articlestyle header h1 {
	text-align: center !important;
	color: #D4AF37;
	font-family: 'titlefont';
	font-size: 400%;
	font-weight: lighter;
	text-shadow: 0 0 3px black, 0 0 5px #440000;
/**/
}

@media (max-width: 1025px) {
	.articlestyle header h1{
	font-size: 350%;
	}
}

@media (max-width: 880) {
	.articlestyle header h1{
		font-size: 350%;

	}
}

@media (max-width: 700) {
	.articlestyle header h1{
		font-size: 400%;

	}
}
@media (max-width: 400) {
	.articlestyle header h1 {
		font-size: 378%;

	}
}

.articlestyle .byline {
	font-family: 'titlefont';
	font-weight: lighter;
	font-size: 60%;
}


.articlestyle header h2, .articlestyle header h3, .articlestyle header h4, .articlestyle header p, .articlestyle header .subtitle {
	text-align: center;
	color: #D4AF37;
	font-family: 'titlefont';
	font-size: 180%;
	font-weight: lighter;
	text-shadow: 0 0 3px black, 0 0 5px #440000;}


@media (max-width: 700px) {
	.articlestyle header h1 {
	font-size: 230%;
	text-align: center !important;

	}
	.articlestyle header h2 {
		font-size: 180%;
		text-align: center !important;

	}
  }

  @media (max-width: 480px) {
	.articlestyle header h1 {
	  font-size: 150%;
	  text-align: center !important;

	}
	.articlestyle header h2 {
		font-size: 120%;
		text-align: center !important;

	}
  }

.articlestyle article {
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
    column-count: 2;
	column-fill: balance;
	-moz-column-fill: balance;
	-webkit-column-fill: balance;
	text-align: justify;    
    word-break: break-word;
	font-family: 'onciale', serif;
	letter-spacing: -1px;
}
@media screen and (max-width: 900px) {
	.articlestyle article {
		margin-left: 10%;
		margin-right: 10%;
	}
  }
  @media screen and (max-width: 700px) {
	.articlestyle article {
		column-count: 1;
		margin-left: 10%;
		margin-right: 10%;
	}
  }
@media screen and (max-width: 500px) {
	.articlestyle article {
		column-count: 1;
		margin-left: 5%;
		margin-right: 5%;
	}
  }


.articlestyle article p,.articlestyle article blockquote {
	display: inline-block;
	position: relative;
  }

.articlestyle article .capital:first-letter{
	float:left;
	font-family: "camelot", serif;
    margin-bottom:10px;
    font-size:500%;
	margin-right:5px;
	color: #D4AF37;
	text-shadow: 2px 2px 5px #404040;
}

.articlestyle .footer{
	padding-bottom: 50px;
	background-image: url(images/footer.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: bottom center;
  }

.articlestyle figure {
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
}

.articlestyle figure figcaption {
  display: transparent;  
  font-size: 80%;    
  font-style: italic;
  line-height: 0.8;
}

.articlestyle figure img {
	width: 80%;
	border-radius: 15%;
	border: 20px solid transparent;
	border-image: url(images/frame.png);
	border-image-slice: 70;
	border-image-repeat:round;
	border-spacing: 1px;
}

@media(max-width: 500px) {
	.articlestyle img {
	width: 70%;
	}
  }

.articlestyle table, th {
    border: 2px solid gold;
    border-style: solid;
    text-align: justify;
    font-size: 80%;
  }

  .articlestyle caption {
	  color: black;
  }
  .articlestyle td {
    border: 2px solid #8b0000;
    border-style: solid;
    text-align: justify;
    font-size: 80%;
  }
.articlestyle #References {
    text-align: justify; 
    font-size: 80%;
    margin: 0 10%;
    word-break: break-all;
}
