.articlestyle html {
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(images/oldpaper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.articlestyle *::selection {
	color: gold; 
	background: #8b0000;
  }

  .articlestyle, .background {
	background-image: url(images/border-left.png), url(images/border-right.png);
	background-position: top left, top right;
	background-repeat: no-repeat;
	background-size: 40%, 40%; 
}

.articlestyle .backimageheader {
	text-align: justify;
	display: inline-block;
	margin-top: 6%;
	margin-left: 32%;
	margin-right: 32%;
}

@media screen and (max-width: 800px) {
	.articlestyle .backimageheader {
	margin-left: 20%;
	margin-right: 20%; 
	}
}

.articlestyle .backimageheader h1 {
	text-align: center;
}

.articlestyle .article {
	margin-top: 1%;
	margin-left: 20%;
	margin-right: 20%;
	font-weight: bold;
    text-align: justify;
    column-count: 2;
    column-fill: auto;
    column-span: all;
    overflow-x: hidden;
	word-break: break-word;
	line-height: 1.6;
}
@media screen and (max-width: 800px) {
	.articlestyle .article {
		column-count: 1;
		line-height: normal;
		margin-left: 5%;
		margin-right: 5%;
	}
  }

  .articlestyle .article p {
	display: inline-block;
	position: relative;
  }



  .articlestyle .figure {
display: inline-block;
text-align: justify;
}

.articlestyle .figure figcaption {
  display: transparent;  
  font-size: 80%;    
  font-style: italic;
  line-height: 0.8;
}

.articlestyle .image {
	width: 90%;
}

/*border-image 