@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --text: white; /* Blue */
    --shadow: #E485F8; /* Pink */
  }
.articlestyle *::selection {
  color: gold; 
  background: #c8a2c8;
}

.articlestyle html {
    margin: 0 auto; 
    padding: 0;
}


/*TITLE*/
.articlestyle .backimageheader {
    background-image: url(images/column.gif), url(images/column.gif), url(images/column.gif) !important;
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: 5% top, 50% top, 95% top;
    padding: 2% 0;
    text-align: center;
    width: auto;
    height: 45vh;
    margin: auto;
}

@media (max-width: 700px) {
    .articlestyle .backimageheader {
        background-image: url(images/column.gif) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
        width: auto;
        height: 55vh;
    }
}



.articlestyle .playful { 
        font-family: 'Montserrat';
        font-size: 300%;
        letter-spacing: -5px;
        font-weight: bold;
        color: var(--text);
        text-shadow: 
          6px 6px        var(--shadow), 
          5.75px 5.75px  var(--shadow), 
          5.5px 5.5px    var(--shadow), 
          5.25px 5.25px  var(--shadow),
          5px 5px        var(--shadow), 
          4.75px 4.75px  var(--shadow), 
          4.5px 4.5px    var(--shadow), 
          4.25px 4.25px  var(--shadow),
          4px 4px        var(--shadow),
          3.75px 3.75px  var(--shadow),
          3.5px 3.5px    var(--shadow),
          3.25px 3.25px  var(--shadow),
          3px 3px        var(--shadow),
          2.75px 2.75px  var(--shadow),
          2.5px 2.5px    var(--shadow),
          2.25px 2.25px  var(--shadow),
          2px 2px        var(--shadow),
          1.75px 1.75px  var(--shadow),
          1.5px 1.5px    var(--shadow),
          1.25px 1.25px  var(--shadow),
          1px 1px        var(--shadow),
          0.75px 0.75px  var(--shadow),
          0.5px 0.5px    var(--shadow),
          0.25px 0.25px  var(--shadow);
      }

.articlestyle .byline, .publicationDate {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 75%;
}
/*BACKGROUND*/
.articlestyle, .background {
        background: linear-gradient(-45deg, #711C91, #EA01D9, #123E7B, #091933);
        background-size: 400% 400%;
        animation: gradient 7s linear infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
.articlestyle .background-shadow {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/*COLUMNS*/
.articlestyle .article {
    margin: auto; /*
    column-gap: 10%;*/
    font-family: 'Atami Regular';
    font-weight: bold;
    font-size: 4vh;
    color: white;
    text-align: justify;    
    word-break: break-word;
    column-count: 3;
    column-fill: auto;
    column-rule-width: 5px;
    column-rule-style: dotted;
    column-rule-color: gold;
    overflow-x: hidden;
}
  
@media screen and (max-width: 800px) {
  .articlestyle .article {
    column-count: 1;
    font-size: 3vh;
  }
 }

  
@media screen and (max-width: 400px) {
  .articlestyle .article {
    font-size: 1rem;
  }
 }

 .articlestyle .article p {
  display: inline-block;
  position: relative;
  margin: 0 5% 7% 7%;
  /*width: 200px;*/
}

.articlestyle .article p:nth-child(odd) {
    border-bottom: 5px dotted gold;
}


/*FIGURES*/
.articlestyle .figure {
    display: inline-block;
    text-align: center;
}

.articlestyle figcaption {
  display: transparent;  
  font-size: 80%;    
  font-style: italic;
}

.articlestyle .image {
    width: 75%;
    transition: transform .5s;
    border-radius: 100%; 
    margin: 20px; 
    padding: 5px; 
    border:  5px dotted gold;
}
.articlestyle .image:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }