@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --text: white; /* Blue */
    --shadow: #E485F8; /* Pink */
  }
.articlestyle *::selection {
  color: gold; 
  background: #E485F8;
}

.articlestyle html {
    margin: 0 auto; 
    padding: 0;
}

.articlestyle * {
    cursor: url('dark-matter/darkMatterNormal.cur'), auto;
}
#articlebody {
    overflow: hidden;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, gold 0%, #b675da 25%, gold 50%, #23d5ab 75%, gold 100%);
    border-image-slice: 1; 
    
}
/*TITLE*/
.articlestyle header {
    background-image: url(images/column.gif), url(images/column.gif), url(images/column.gif) !important;
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: 5% top, 50% top, 95% top;
    padding: 2% 0;
    text-align: center;
    width: auto;
    height: 45vh;
    margin: auto;
    transition-duration: 1s;

}
.articlestyle header:hover {
    background-image: url(images/peoplecolumn.gif), url(images/peoplecolumn.gif), url(images/peoplecolumn.gif) !important;
    background-size: 45vh;
    transition-duration: 1s;
}



@media (max-width: 800px) {
    .articlestyle header {
        background-image: url(images/column.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        width: auto;
        height: auto;
    }
}

@media (max-width: 800px) {
    .articlestyle header:hover {
        background-image: url(images/peoplecolumn.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35%;
        width: auto;
        height: auto;
    }
}

.articlestyle header h1 { 
        margin-top: 3%;
        font-family: 'Montserrat';
        font-size: 8vh;
        letter-spacing: -5px;
        font-weight: bold;
        color: var(--text);
        text-shadow: 
          6px 6px        var(--shadow), 
          5.75px 5.75px  var(--shadow), 
          5.5px 5.5px    var(--shadow), 
          5.25px 5.25px  var(--shadow),
          5px 5px        var(--shadow), 
          4.75px 4.75px  var(--shadow), 
          4.5px 4.5px    var(--shadow), 
          4.25px 4.25px  var(--shadow),
          4px 4px        var(--shadow),
          3.75px 3.75px  var(--shadow),
          3.5px 3.5px    var(--shadow),
          3.25px 3.25px  var(--shadow),
          3px 3px        var(--shadow),
          2.75px 2.75px  var(--shadow),
          2.5px 2.5px    var(--shadow),
          2.25px 2.25px  var(--shadow),
          2px 2px        var(--shadow),
          1.75px 1.75px  var(--shadow),
          1.5px 1.5px    var(--shadow),
          1.25px 1.25px  var(--shadow),
          1px 1px        var(--shadow),
          0.75px 0.75px  var(--shadow),
          0.5px 0.5px    var(--shadow),
          0.25px 0.25px  var(--shadow);
      }
    @media (max-width: 800px) {
        .articlestyle header h1 {
        font-size: 7vh;
        }
      }  
    @media (max-width: 480px) {
        .articlestyle header h1{
        font-size: 5vh;
        }
      }
.articlestyle header h2, .articlestyle header h3, .articlestyle header h4.articlestyle header p, .articlestyle header > .byline, .articlestyle header > .subtitle  {
        display: block;
        font-family: 'Montserrat';
        font-size: 6vh;
        font-weight: bold;
        color: var(--text);
        text-align: center;
        font-style: normal;
        text-shadow: 
          6px 6px        var(--shadow), 
          5.75px 5.75px  var(--shadow), 
          5.5px 5.5px    var(--shadow), 
          5.25px 5.25px  var(--shadow),
          5px 5px        var(--shadow), 
          4.75px 4.75px  var(--shadow), 
          4.5px 4.5px    var(--shadow), 
          4.25px 4.25px  var(--shadow),
          4px 4px        var(--shadow),
          3.75px 3.75px  var(--shadow),
          3.5px 3.5px    var(--shadow),
          3.25px 3.25px  var(--shadow),
          3px 3px        var(--shadow),
          2.75px 2.75px  var(--shadow),
          2.5px 2.5px    var(--shadow),
          2.25px 2.25px  var(--shadow),
          2px 2px        var(--shadow),
          1.75px 1.75px  var(--shadow),
          1.5px 1.5px    var(--shadow),
          1.25px 1.25px  var(--shadow),
          1px 1px        var(--shadow),
          0.75px 0.75px  var(--shadow),
          0.5px 0.5px    var(--shadow),
          0.25px 0.25px  var(--shadow);
      }
@media (max-width: 800px) {
    .articlestyle header h2, .articlestyle header h3, .articlestyle header h4.articlestyle header p, .articlestyle header > .byline, .articlestyle header > .subtitle  {
        font-size: 5vh;
        }
      }  
@media (max-width: 480px) {
    .articlestyle header h2, .articlestyle header h3, .articlestyle header h4.articlestyle header p, .articlestyle header > .byline, .articlestyle header > .subtitle  {
        font-size: 4.5vh;
        }
      }


#articlebody  {
	background: linear-gradient(-45deg,#946ae2, #b675da, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*/
/*COLUMNS*/
.articlestyle article {
    display: inline-block;
    margin: 5% auto; /*
    column-gap: 10%;*/
    font-family: 'Roboto';
    font-size: 3vh;
    color: white;
    text-align: justify;    
    word-break: break-word;
    column-count: 3;
    column-fill: auto;
    column-rule-width: 5px;
    column-rule-style: dotted;
    column-rule-color: gold;
    overflow: visible;
}

@media (max-width: 800px) {
    .articlestyle article {
    column-count: 1;
    font-size: 3vh;
    margin-left: 10%;
    margin-right: 10%;
    }
}

@media (max-width: 480px) {
    .articlestyle article {
        overflow: visible;
        font-size: 2.5vh;
        margin-left: 5%;
        margin-right: 5%;

    }
}
      
.articlestyle article h2, .articlestyle article h3, .articlestyle article h4 {
    font-family: 'Montserrat';
    font-size: 4.5vh;
    font-weight: normal;
    color: var(--text);
    text-align: center;
    font-style: normal;
    text-shadow: 
      2.5px 2.5px    var(--shadow),
      2.25px 2.25px  var(--shadow),
      2px 2px        var(--shadow),
      1.75px 1.75px  var(--shadow),
      1.5px 1.5px    var(--shadow),
      1.25px 1.25px  var(--shadow),
      1px 1px        var(--shadow),
      0.75px 0.75px  var(--shadow),
      0.5px 0.5px    var(--shadow),
      0.25px 0.25px  var(--shadow);
    }
    @media (max-width: 800px) {
        .articlestyle article h2, .articlestyle article h3, .articlestyle article h4 {
            font-size: 3.5vh;

        }
    }
    
    @media (max-width: 480px) {
        .articlestyle article h2, .articlestyle article h3, .articlestyle article h4 {
            font-size: 3vh;

        }
    }
      
    
.articlestyle article p, .articlestyle article blockquote{
    margin: 5% 7%;
}

.articlestyle table {
    display: inline-block;
    margin: 0 5% 7% 7%;
    color: white;
} 

.articlestyle caption {
    color: white;
}

.articlestyle article p:nth-child(odd) {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to bottom right, gold 0%, #b675da 25%, gold 50%, #23d5ab 75%, gold 100%);
    border-image-slice: 1;  }


/*FIGURES*/
.articlestyle figure {
    display: inline-block;
    text-align: center;
    column-span: all;
}

.articlestyle figcaption {
  display: transparent;  
  font-size: 80%;    
  font-style: italic;
}

.articlestyle figure img {
    width: 70%;
    transition: transform .5s;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, gold 0%, #b675da 25%, gold 50%, #23d5ab 75%, gold 100%);
    border-image-slice: 1;    
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 800px) {
    .articlestyle figure img {
        width: 60%;
    }
}
@media (max-width: 480px) {
    .articlestyle figure img {
        width: 50%;
    }
}
.articlestyle figure img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
@media (max-width: 800px) {
    .articlestyle figure img:hover {
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);}
}
@media (max-width: 480px) {
    .articlestyle figure img:hover {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari 3-8 */
        transform: scale(1); 
    }}

.articlestyle table, .articlestyle  th,.articlestyle   td {
    margin: 2%;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, gold 0%, #b675da 25%, gold 50%, #23d5ab 75%, gold 100%);
    border-image-slice: 1;  
    text-align: justify;
    font-size: 70%;
    padding: 0;
  }
  
.articlestyle #References, .articlestyle #Notes, .articlestyle #Footnote,.articlestyle #pubnote,.articlestyle .biofooter {
    text-align: justify; 
    font-size: 80%;
    word-break: break-all;
}

.articlestyle div > iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.articlestyle article .capital:first-letter{
	float:left;
    margin-right:5px;
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url(images/sun.gif);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
}
@media (max-width: 800px) {
    .articlestyle  article .capital:first-letter{
        font-size: 300%;
        margin-right: 15px;
        background-size: 200%; 
    }
}

@media (max-width: 480px) {
    .articlestyle article .capital:first-letter {
        font-size: 300%; 
        margin-right: 15px;
        background-size: 200%;
    }
}



/*  
.articlestyle footer{
    background-image: url(images/footer-cat.gif);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: bottom center;
  } 
  @media (max-width: 800px) {
    .articlestyle footer {
        background-size: 40%;
    }
}

@media (max-width: 480px) {
    .articlestyle footer {
        background-image: url();
    }
}*/