@font-face {
    font-family: 'North';
    src: url('font/North Avellion.woff2') format('woff2');
    src: url('font/North-Avellion.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'ranking';
    src: url('font/Rankings Caps.woff2') format('woff2');
    src: url('font/Rankings-Caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'fiorina';
    src: url('font_body/fiorinatext-light.woff2') format('woff2');
    src: url('font_body/fiorinatext-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  :root {
    --text: #333333;
    --backcolor: #f7f7f7;
  }

  /*BACKGROUND*/
  .articlestyle *::selection {
    color: var(--backcolor); 
    background: var(--text);
  }
  .articlestyle html {
      margin: 0; 
      padding: 0;
    }

#articlebody {
    background: var(--backcolor);  
    padding: 5% 8%;
  }
@media(max-width: 700) {
    #articlebody {
    padding: 5%;
    }
  }

/*Header and header subelements*/
.articlestyle header {
    margin-bottom: 5%;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #EEEEEE 0%, #DDDDDD 25%, #CCCCCC 50%, #BBBBBB 75%, #333333 100%);
    border-image-slice: 1;
  }
  @media(max-width: 500) {
    .articlestyle div header{
      margin-bottom: 2%;
    }
  }
.articlestyle header h1 {
    font-family: 'ranking';
    font-size: 8vh;
    text-align: center;
    color: var(--text);
  }
  @media (max-width: 800px) {
    .articlestyle header h1 {
    font-size: 7vh;
    }
  }  
  @media (max-width: 480px) {
    .articlestyle header h1{
    font-size: 4vh;
    }
  }
.articlestyle header h2, .articlestyle header h3, .articlestyle header h4, .articlestyle header p, .articlestyle header .byline{
    font-family: 'North';
    font-size: 6vh; 
    text-align: center;
    color: var(--text);
  }
  @media (max-width: 800px) {
  .articlestyle header h2, .articlestyle header h3, .articlestyle header h4, .articlestyle header p, .articlestyle header .byline{
    font-size: 5vh;
    }
  }  
  @media (max-width: 480px) {
  .articlestyle header h2, .articlestyle header h3, .articlestyle header h4, .articlestyle header p, .articlestyle header .byline{
    font-size: 4vh;
    }
  }
/*article and article subelements*/
.articlestyle article {
  font-family: 'fiorina';
  text-align: justify;
  font-size: 3vh;
}
@media (max-width: 800px) {
  .articlestyle article{
    font-size: 3vh;
    }
  }  
  @media (max-width: 480px) {
    .articlestyle article {
   font-size: 2vh;
    }
  }

.articlestyle article  h2,  .articlestyle article  h3, .articlestyle article  h4 {
    border-bottom: 3px solid transparent; 
    border-image: linear-gradient(to bottom right, #EEEEEE 0%, #DDDDDD 25%, #CCCCCC 50%, #BBBBBB 75%, #333333 100%);
    border-image-slice: 1;
    font-family: 'North';
    font-size: 6vh; 
    text-align: center;
    color: var(--text);
}
@media (max-width: 480px) {
  .articlestyle article  h2, .articlestyle article  h3, .articlestyle article h4   {
  font-size: 4.5vh;
  }
}

/*IMAGES*/
.articlestyle figure {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}
.articlestyle figure figcaption {
    font-size: 80%;
    font-weight: bold;
  }
  
  
  .articlestyle figure img {
    filter: grayscale(100%);
    width: 70%;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #EEEEEE 0%, #DDDDDD 25%, #CCCCCC 50%, #BBBBBB 75%, #333333 100%);
    border-image-slice: 1;
  }
  
  .articlestyle table, .articlestyle th, .articlestyle td {
    width: 100%;
    border: 3px solid #BBBBBB;
    border-style: solid;
    font-size: 3vh;
  }

  @media (max-width: 800px) {
    .articlestyle table, .articlestyle th, .articlestyle td{
      border: 3px solid #BBBBBB;
      font-size: 2.2vh;
      }
    }  
  @media (max-width: 480px) {
      .articlestyle  table, .articlestyle th, .articlestyle td{
      border: 3px solid #BBBBBB;        
      font-size: 1vh;
      }
    }
  
  .articlestyle table caption {
    color: var(--text);
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, #EEEEEE 0%, #DDDDDD 25%, #CCCCCC 50%, #BBBBBB 75%, #333333 100%);
    border-image-slice: 1;
  }
  









 .articlestyle .capital:first-letter{
    float:left;
    font-family: 'ranking';
    font-size:450%;
    margin-bottom: 10px;
    margin-right:5px;
    color: #EEEEEE;
    text-shadow: 1px 1px 1px #404040;
  }

  
@media (max-width: 480px) {
  .articlestyle .capital:first-letter {
  font-size: 300%;
  }
}


 .articlestyle .byline {
  font-family: 'fiorina';
 }

 .articlestyle a span {
  text-decoration: underline;
  text-decoration-color: #404040;	
  cursor: pointer;
}