@font-face {
	font-family: 'bauhaus';
	src: url("fonts_Bauhaus/font_bauhaus_bold/Bauhaus-Bold.woff2") format("woff2"), 
	url("fonts_Bauhaus/font_bauhaus_bold/Bauhaus-Bold.woff") format("woff");
	font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url('FuturaBT-Book.eot');
  src: url('FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
      url('FuturaBT-Book.woff2') format('woff2'),
      url('FuturaBT-Book.woff') format('woff'),
      url('FuturaBT-Book.ttf') format('truetype'),
      url('FuturaBT-Book.svg#FuturaBT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
<html> 
<body> 
  <div>
    <header> forme geometriche 
      <h1, h2> Neri bold // sottotitolo, se presente, 90° #000000 #969696 #FFFFFF #E73229 #146EAA #EFC800 #F08D28 #f9f7de
    <article> Una colonna fitta centrale
      <p> border leggero colorato 
      <figure> 
        <img> bordo colorato, bianco e nero 
        <figcaption>
      <table> ?
    </article> 
  </div>
</body>
*/
.articlestyle div {
  background-color: #f9f7de;
  border-right: 70px solid #146EAA;
  text-align: justify;
  border-left: 70px solid #E73229;
}

.articlestyle header {}

.articlestyle article {}

.articlestyle article p {}

.articlestyle article figure {}

.articlestyle article img{}

.articlestyle article ??? {}






/*
.articlestyle h1 {
  font-family: 'Bauhaus';
  text-align:center;
  font-size: 2.5em;
}

.articlestyle h2 {
  text-align: right;
  font-family: 'bauhaus'
}

.articlestyle header {
    background-image: url("images/logo5def.jpg");
    background-color: #f9f7de;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 100% left;
    border-top: solid 20px black;
    border-bottom: solid 40px black;
    padding: 4%;
}
.articlestyle body {
  font-family: 'Futura Bk BT';
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: #f9f7de;


}
.articlestyle article p {
  border-bottom: 30px solid red

}


 .articlestyle div {
  position: relative;
  border-right: 70px solid #0424cf;
  text-align: center;
  border-left: 70px solid #fb4d34;

}

.articlestyle figure {
    display: inline-block;
    text-align: left;
}

.articlestyle figcaption {
  display: transparent;
  font-size: 80%;
  font-style: italic;
}

.articlestyle img {
    width: 75%;
    transition: transform 5s;
    border-right: 2px solid black;
}
.articlestyle img:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

.articlestyle footer{
  border-bottom: solid 50px #ada3a1;
}
*/