@font-face {
  font-family: 'edd';
  src: url('edda/EddaNarrow-rxAL.woff2') format('woff2');
  src: url('edda/EddaNarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'berol';
    src: url('berolina/Berolina.woff2') format('woff2');
    src: url('berolina/Berolina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.articlestyle *::selection {
  color: white; 
  background: #83aa6b;
}


#articlebody {
  margin-top: 0;
  background-image: url(images/background.jpg);
  background-repeat: repeat;
  background-size: 70%;
}

.articlestyle div {
  background-image: url(images/border-leftright.png),  url(images/border-leftright.png);
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
  background-size: 10%, 10%;
}

.articlestyle h3, .articlestyle h4, .articlestyle h2, .articlestyle header > .subtitle{
  margin-left: 5%;
  margin-right: 5%;
  color: #b6470d;
  font-family: 'berol';
  font-size: 4vh;
}

.articlestyle h2 {
  color: #b6470d;
  text-align: center;
  font-size: 3vh;
}

@media (max-width: 800px) {
  .articlestyle h2 {
font-size: 2vh;
  }
}

@media (max-width: 480px) {
  .articlestyle h2 {
font-size: 2vh;
  }
}

.articlestyle .byline {
text-align: center!important;
margin-left: 5%;
margin-right: 5%;
color: #b6470d;
font-family: 'berol';
font-size: 200%;
}

@media (max-width: 800px) {
.articlestyle h2 {
font-size: 3vh;
}
}

@media (max-width: 480px) {
.articlestyle h2 {
font-size: 2vh;
}
}

.articlestyle header h1 {
text-align: center;
color: #83aa6b;
text-shadow: 3px 3px 3px #808080;
font-family: 'edd';
font-size: 7vh;
font-weight: bold;
margin-left: 5%;
margin-right: 5%;
}

@media (max-width: 800px) {
  .articlestyle h1 {
  font-size: 5vh;
  }
}

@media (max-width: 480px) {
  .articlestyle h1 {
  font-size: 4vh;
  }
}

.articlestyle  blockquote {
  font-family: 'berol';
  font-style: italic;
  text-align: center;
}

.articlestyle header {
background-image: url(images/mini-border-left.png), url(images/mini-border-left.png), url(images/mini-border-right.png), url(images/mini-border-right.png);
background-position: top left, top right, bottom left, bottom right;
background-repeat: no-repeat;
background-size: 5%;
border: 15px solid transparent;
padding: 10px;   
border-image: url(images/frame.png);
border-image-slice: 30;
border-image-repeat:round;
border-spacing: 20px;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 5%;
text-align: center;
}

.articlestyle  article {
font-family: 'berol';
font-weight: bolder;
color: black;
text-shadow: 1px 1px 1px #979494;
column-count: 2;
column-gap: 0px;
column-fill: balance;
text-align: justify;
word-break: break-word;
overflow-x: hidden;
margin-left: 10%;
margin-right: 10%;
}


@media (max-width: 800px) {
  .articlestyle article {
  column-count: 1;
  }
}

.articlestyle p, .articlestyle blockquote, .articlestyle caption {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  
}

.articlestyle figure {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}


.articlestyle figure img {
  border: 15px solid transparent;
  padding: 1px;   
  border-image: url(images/frame2.png);
  border-image-slice: 30;
  border-image-repeat:round;
  border-spacing: 20px;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;    
}

.articlestyle .capital:first-letter{
  color: #b6470d;
}

.articlestyle .footer{
  padding-bottom: 50px;
	background-image: url(images/footer-left.png), url(images/footer-right.png);
	background-size: 10%, 10%;
	background-repeat: no-repeat;
	background-position: bottom left, bottom right;
  }
  .articlestyle table {
    display: inline-block;
  }
  .articlestyle table caption {
    font-family: 'berol';
    color: black;
  }


  .articlestyle table, th, td {
    border: 2px solid #b6470d;
    border-style: solid;
    text-align: justify;
    margin: 2% 10%; 
  }

#References {
font-family: 'berol';
font-weight: bolder;
color: black;
text-shadow: 1px 1px 1px #979494;
margin: 0 10%;
}

#Notes {
  font-family: 'berol';
font-weight: bolder;
color: black;
text-shadow: 1px 1px 1px #979494;
margin: 0 10%;
}